.App {
  margin-left: 0px;
  font-family: 'Times New Roman', Times, serif;
  /* justify-content: space-evenly; */
  text-align: center;
}

img {
  max-width: 130px;
  max-height: 120px;
  border-radius: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  /* width: 520px; */
  font-style: italic;
  padding: 5px;
  margin: 15px;
  display: block;
}

label {
  font-style: italic;
  /* font-size: large; */
}

h1 {
  color: crimson;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: fantasy;
  font-weight: 400;
}

.card {
  vertical-align: top;
  color: white;
  font-weight: 230;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 25px;
  text-shadow: 0 0 15px black;
  text-transform: capitalize;
  text-align: center;
  box-shadow: crimson 10px 10px;
  background-color: forestgreen;
  margin: 10px;
  margin: 15px;
  padding: 15px;
  /* display: flex; */
  display: inline-block;
  border-radius: 10px;
  height: 200px;
  width: 165px;
}

footer {
  background-color: rgba(0, 0, 0, 0.200);
  text-align: center;
  margin-top: 30px;
  padding-bottom: 15px;
}

a {
  color: rgb(41, 100, 226);
  padding-inline: 40px;
}

.mymenu {
  height: 50px;
  color: red;
}


table {
  display: flex;
  /* align-items: stretch; */
  justify-content: space-evenly;
  /* border-collapse: separate; */
  border-spacing: 50px;
}

td {
  background-color: rgba(0, 0, 0, 0.200);
  /* border: 2px;
  border-style: solid;
  border-color: black; */
  border-radius: 15px;
  padding: 10px;
  display: inline-flexbox;
  max-width: 700px;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}

.colOne {
  max-width: 450px;
}

/* .colTwo {
  max-width: 350px;
} */

.colThree {
  max-width: 350px;
}

button {
  letter-spacing: 1px;
  word-spacing: 5px;
  text-transform: capitalize;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
  border-style: none;
}
